files:
  /tmp/https.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      # HTTPS Server
      server {
        listen 443;
        server_name localhost;
        ssl on;
        ssl_certificate /etc/pki/tls/certs/server.crt;
        ssl_certificate_key /etc/pki/tls/certs/server.key;
        ssl_session_timeout 5m;
        ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
        ssl_prefer_server_ciphers on;
        location / {
          proxy_pass http://docker;
          proxy_http_version 1.1;
          proxy_set_header Connection "";
          proxy_set_header Host $host;
          proxy_set_header X-Real-IP $remote_addr;
          proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
          proxy_set_header X-Forwarded-Proto https;
        }
      }
      
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIFZTCCA02gAwIBAgIUH/kpgys0duBcCeiEQwkytHNC5iIwDQYJKoZIhvcNAQEL
      BQAwQjELMAkGA1UEBhMCWFgxFTATBgNVBAcMDERlZmF1bHQgQ2l0eTEcMBoGA1UE
      CgwTRGVmYXVsdCBDb21wYW55IEx0ZDAeFw0yNDA1MjYxNDM0MjRaFw0yNTA1MjYx
      NDM0MjRaMEIxCzAJBgNVBAYTAlhYMRUwEwYDVQQHDAxEZWZhdWx0IENpdHkxHDAa
      BgNVBAoME0RlZmF1bHQgQ29tcGFueSBMdGQwggIiMA0GCSqGSIb3DQEBAQUAA4IC
      DwAwggIKAoICAQCjX+0jmlEb//CMFhMCQ7Yxg3lyElmEeo5lq0tDJ84XbGC3CdXN
      8r6y38qKuOqFt6WlX+BfTXQlKmYc8QpQ2ASC9jz2g6Waaxz5RmNwgcIINZrpQdyu
      74GF1AsesWoOUoUdyWHVBlo+8Q74hqk/K6D8FaVgstK/9CkTxwJwZP/mcevd5w0z
      OxIK66Pr3tqcWTmDP9IvVS0iRdOilwTRL65CMwUqnY+uJKK79tDLT8ahUoOSdZSD
      UM75kCaPwsie40Uso53L5+STD5xy1ASf+2kYG/Jq4X3YFW2IQrUCUwXJVjzlmLEn
      jRJcPjILbDUZoxokEx+wo+Bcvkj/ybi5b9iuHpG/2f9b9K2MYgfl7mmsV4RGPsB7
      vZTEqNc8I3yynPrXuBdhlyR5FBcoKApFmGMKM9raU8T8HeAMgR4a5eYj90f0/G72
      ckFOaG3yBTqadwgC+BKh6HnJALZbUBfkbvVUT99+CY4aQtuAgGIqMWr8zNidHxeX
      mJWGt9z2lEkRasgKLxBRJ78pk+UV3om1XyRr+MzYZB5yUOkrqRM4CincVeh+c00b
      QoymwF+q2l4A4urJZTIiSMnX5bYLyE6r4inW0s3PX7jVHzIv0OMM3oGirgUDl7lz
      ufRJ2sliV/lobkPzNFd9hRQqhuTCK8wEMfcx0FmzrAu5Q3eeiYSdNDaFlQIDAQAB
      o1MwUTAdBgNVHQ4EFgQUjxAzz1UlVnoybB2HCiaSI3e2KOEwHwYDVR0jBBgwFoAU
      jxAzz1UlVnoybB2HCiaSI3e2KOEwDwYDVR0TAQH/BAUwAwEB/zANBgkqhkiG9w0B
      AQsFAAOCAgEATTrRdpZGXcZApR8C/qrNMDZa76FrHFhFMIhEoxAENg1uEF6H1MfF
      9S7FiE/vzLHESrW+E0E2WVEWs7GvcOntAoYOXYQ2lmHhLQWVvrizPLJMqy3PGGtf
      U5UAtlP7qFavQCEZdVq8javMp1oa7bgyKzzTlgIkL+WidzFe53Wq35zEb7g9eTYN
      Uzrl2zDYRuaNq0wDQwsJ7FH9Z1ZoPBcAD9iCm6fJVktVRyxAp8z2JKwj0kjGbjNl
      +dTnNCydhC8aUmTh1jttuUePoFxvaGLCflsHJsC1ugE903CaeaAB0GqFY5rC/Gkx
      VsyiZ+k2Q6N2JFFJ3fiiR89UN+7wcJFgz1+/msYWGm/pyqx12x4Hfu5vEQEBe8ui
      vHBnvmqFkyceTW0B3gGkYUlLNR4s4gpxTK3VV/G2Bz72FAqcIYV1jlzi3S1DYTB/
      jCZ2UQPvQei/NG3HtLyyGfQ0DY10t0SyqLIvJhz+UcJpGtLFfFCDzh7hWWt/yXJF
      URd4mtAY18HYj2BAgWYXxA8Lqiv5mODSq4RWfpf0CFMFh9y+QWv1ew6QXR7w0NpM
      lMwAEKpibi3JM5TEPP/ktT1tFIFYbxLv2MhrDIQQNMrU07dA8aHJEhbsVbS1VqOC
      CJWSqmYZpy2PO9Mb3kE710+cnDvnQjwoHjdN3BLFYrvVC2FfnBWBXwM=
      -----END CERTIFICATE-----

      
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN PRIVATE KEY-----
      MIIJQwIBADANBgkqhkiG9w0BAQEFAASCCS0wggkpAgEAAoICAQCjX+0jmlEb//CM
      FhMCQ7Yxg3lyElmEeo5lq0tDJ84XbGC3CdXN8r6y38qKuOqFt6WlX+BfTXQlKmYc
      8QpQ2ASC9jz2g6Waaxz5RmNwgcIINZrpQdyu74GF1AsesWoOUoUdyWHVBlo+8Q74
      hqk/K6D8FaVgstK/9CkTxwJwZP/mcevd5w0zOxIK66Pr3tqcWTmDP9IvVS0iRdOi
      lwTRL65CMwUqnY+uJKK79tDLT8ahUoOSdZSDUM75kCaPwsie40Uso53L5+STD5xy
      1ASf+2kYG/Jq4X3YFW2IQrUCUwXJVjzlmLEnjRJcPjILbDUZoxokEx+wo+Bcvkj/
      ybi5b9iuHpG/2f9b9K2MYgfl7mmsV4RGPsB7vZTEqNc8I3yynPrXuBdhlyR5FBco
      KApFmGMKM9raU8T8HeAMgR4a5eYj90f0/G72ckFOaG3yBTqadwgC+BKh6HnJALZb
      UBfkbvVUT99+CY4aQtuAgGIqMWr8zNidHxeXmJWGt9z2lEkRasgKLxBRJ78pk+UV
      3om1XyRr+MzYZB5yUOkrqRM4CincVeh+c00bQoymwF+q2l4A4urJZTIiSMnX5bYL
      yE6r4inW0s3PX7jVHzIv0OMM3oGirgUDl7lzufRJ2sliV/lobkPzNFd9hRQqhuTC
      K8wEMfcx0FmzrAu5Q3eeiYSdNDaFlQIDAQABAoICABRJcx76qJu7ellK3G1pjxQy
      6T+6+5axyUDitmPOa48JDDFubTg3rmpz06jKMYUNOuqAL1JmQcfjre5mGAvV5ymD
      /in2SvgT2PMzRGHSGw/96BCS9x5Z61F89SyIh0zj/lemjBlxwn8SW/OMdTO87S6g
      WXraecUQQpGMIsdmI0iwWMOjT0ZPTXxBqoc9kxPbGIMtx6HNB9+7n/4OlrCLJS5f
      O4MBMbhEIFkK2v6EF3wszN3A8AImZK0ks0UiwNrKCerzHkMVtpJ0W87+eNyM0Y4G
      2mFfQss0TfefoO569Lr9lG5GOalZoTAHIRu+AhH+6N4V6dd7Yf7iOhpZKDEOrG8v
      x65fsiaOrgjXar26diQ5rCTxtkdddUSic2j6LcsbWLe2T1GY+ue1cHVHTsT2TlCL
      ZAP5aVbKP0mrKc6lN6Y98/RdH5oON4cACqz4H32L7z2P3NAZilJyebGGns0gUGhb
      L/Vt20P/r+uDMVaWg6KTqOVxe7tBySR0LPxhVvipPJkMvWnuWRPUmyS21sGeomxk
      /AR8S2C2YHGop9JlzUSJ6EO8ZGQrrWrnfVvEhobOlclGRSnFMnxtODQFuS44iUjZ
      H90L5V4CeYIKOE/tgZZsE/xMiV0tiUWEQFh8E3ep63gok8PSAPC4ZAfkzompugIa
      mRUkDfCsIr/qhgpokt95AoIBAQDY7cy7wsfoufF2+ETPJCbYveFDOv2n5/5i6hl9
      x4Fx3XjXjxXKy7vi0yUn1FvWAP4mER8jc8duwabsaC3vPF4EaekP4vp1o33vMDzf
      cHAib5qwcu/J/+HAWHMNEK9mazOPaOBen9g9v1pDNSibulkTJAe4umbl30zM2va0
      TF1SF/f/DSeIS85fhw1GoXryPcO+GHpEBzJsT8r3kDmG/tJmoLRGvYze8W9qy2d1
      qLkWayqXHIRMmPae8n9px67SgVXfeeR1EtlXgPGsbtuOOcP9Q6jrM/mVI1ni8Y0H
      7MPEQRCFI5uVhcwSG2EvVjK+3VI9VXjre62Syk4unxw40AWHAoIBAQDAzNbjlWfq
      1v53b9pWM0Es+WYeluLRxR6dQCNKFGeNxUG3GiKkgXxxPqQyGbgF2a8jWaMcRN5A
      kztp8fPJ/AUQjpNIVylquvfvR32RnG/Ob7ekuc57g4eYkZ+FxTe0H2dKvXA/w9ug
      s1vOq7ksraXzGachPygYDgwzUH/law5PQhZMPxll+k1/xXyb0xMPWHAAjvM5MrYu
      LEhPkd8xU5urz4INmkwDC5BEZSnaicO0srYlBNFP7CBDaNlhEaeBjKbgDbMOTtl/
      GpvUutdZ7ARC1JggCx3yB6PbOKLHZm5DHCy7ybugw1IFJvyse2cdjCG90vm5u9/W
      EQg2+TrQEyMDAoIBAD+EGT8cwBXXY+kWtmcESc+KgUuDGUQxfF2P99jJMpCZbUmI
      XrQbRS8b7bQkzKLzdXbF6p0hyFIYp3xu4Iw827ZlIFWDexw4u6XuNNSjgmHC1cM2
      VBmML5h3DXDU4taVKuqhpZhvKwyhW5d0GCjIvk4Jba1b/sbtw/nzXurZtTVVSUrH
      mjyhHZMA4xU8MNh+1zJwzlPe25e1IVOtSfrJ3+cmxMI1u+qHPL1DQ07DETaMOFM4
      iVA4NXXCwSXCzuBZ+D/P2+GfnD2vxpNbfjO9nDIqvmnntPtC942odkfMvmFXP7QM
      AgEcxOzEUYdfsMoL2YmV3irs8pyZWZzy/3tvBT8CggEBAIDlsdkPnx0TRadGQZuV
      wsI1rv9OczA5cEFDixRQ1fajZU7sCzMeWrs/XPkd1rkakwu4NuOEa26SwIsRNqLY
      ee5a077ufwMbIv13N00tYFaMvCNGEfTjt7jZyuPdOWOUBzOhuTT4VZJ3ty5SAogL
      REJl6SXCGqUSZze7XvZbf4KftVaebPWPxVZiCvAGytxcjOzipVudOs1dz65a4PQS
      aKYSImnDuYPjrDz9wWCY8B2TyVCwitu7Csrmg0ZxTiK/jSWIIyiysJhYisxLagR1
      VVf02Au8QvX4A6VhlPpo0djOMl4N/gH585D8Qrtx+Tt432oQbeKt53Uvh+Vw9M/9
      q08CggEBAI1hNmvbpivFpxv4U8CEWdStgZyX535OiED1WNO5x2Wo+4cqCkmlP9Fb
      IUXaLSBfxDAgEJSpLTOYhuHEi+hlbbGBd76XPc1MyR9v+53RarYwj+wDgtOns4lr
      1VTSTU7s1oQZlRZAYopv5rYd/rTU7mzMgP6zWcY5CMJpUkaKzUtmfdI37ybuoZ+4
      hIbmObGkNp9riWqN9snax4DDNrMSzdnyGLRTooG6xygzW/6C0GQLMpmILV8eXeeb
      MCxNZtaNwA040d9y1x8Zq6lmtpFJajifwClLMyvsI5qSjxbGms0++scrLKOG0dM/
      sfGmUjmG74FHYZXSBCKpAzT42MaQpow=
      -----END PRIVATE KEY-----
